---
layout: default
---

<section id="main-content">
  <h3>
    <a id="welcome-to-hdc" class="anchor" href="#welcome-to-hdc" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome
  </h3>

  <p>Welcome to Health IT Conferences. Below is an up-to-date list of health IT, development, and design conferences in the United States. In order to keep this list accurate and complete, we rely on community collaboration. If you see any errors in the list or know of a health IT, development, or design conference that isn't listed, please submit a <a href="https://help.github.com/articles/using-pull-requests/">pull request</a> with the changes.

  <h3>
    <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>Conference List
  </h3>

  <div class="conferences">
    {% assign prev_month = null %}
    {% for post in site.posts reversed %}
      {% capture conference_month %}{{post.date | date: "%B"}}{% endcapture %}
      {% if prev_month == null or prev_month != conference_month %}
        {% if prev_month != null %}
          </div>
        {% endif %}

        {% assign prev_month = conference_month %}
        {% capture collapse_id %}{{post.date | date: "%B-%Y" | downcase}}{% endcapture %}
        <a href="#{{collapse_id}}" class="month-divider" data-toggle="collapse" aria-expanded="true">{{conference_month}}</a>

        <div id="{{collapse_id}}" class="collapse in">
      {% endif %}
      {% include conference.html conference=post %}
    {% endfor %}
    </div>
  </div>

  <h3>
    <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true">
      <span class="octicon octicon-link"></span>
    </a>Support or Contact
  </h3>

  <p>Having trouble? Contact <a href="mailto:nebrown@mitre.org">nebrown@mitre.org</a> and we'll help you sort it out.</p>
</section>

<aside id="sidebar">
  <a href="https://github.com/noranda/health-it-conferences/pulls" class="button pull-request">
    Pull Request
  </a>
  <a href="https://github.com/noranda/health-it-conferences/issues" class="button issues">
    New Issue
  </a>

  <p class="repo-owner"><a href="https://github.com/noranda/health-it-conferences"></a>maintained by<br><a href="https://github.com/noranda">noranda</a>.</p>

</aside>
