<div class="conferences">

  <!-- TEMPLATE:
  <div class="conference">
    <div class="conference-date">
      DATE
    </div>
    <div class="conference-name">
      <a href="LINK">NAME</a>
    </div>
    <div class="conference-location">
      LOCATION
    </div>
    <div class="conference-host">
      Presented by: <a href="LINK">HOST</a>
    </div>
    <div class="conference-description">
      DESCRIPTION
    </div>
    <div class="conference-cost">
      COST INFORMATION
    </div>
    <div class="tags">
      <span>TAG1</span>
      <span>TAG2</span>
    </div>
  </div>
  -->


  <div class="conference">
    <div class="conference-date">
      June 17-18, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.govhealthitconference.com/">Government Health IT Conference &amp; Exhibition 2014</a>
    </div>
    <div class="conference-location">
      Washington DC
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.himss.org/">Healthcare Information and Management Systems Society (HIMSS)</a>
    </div>
    <div class="conference-description">
      As budgets tighten, workforces shrink, ICD-10 looms, more consumers enter the healthcare
      system and you still struggle with meaningful use — challenges remain and change is constant.
      Join us for the Government Health IT Conference &amp; Exhibition. Find the knowledge and
      network that empowers you to implement solutions that reduce costs while still delivering
      quality patient care.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>government</span>
      <span>washington DC</span>
    </div>
  </div>

  <!-- ******************************* JULY ******************************* -->

  <!-- <div class="month-divider">July</div> -->

  <!-- ******************************* AUGUST ******************************* -->

  <div class="month-divider">August</div>

  <!-- ******************************* SEPTEMBER ******************************* -->

  <div class="month-divider">September</div>

  <div class="conference">
    <div class="conference-date">
      September 10-12, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.tedmed.com/event/abouttheevent">TEDMED 2014</a>
    </div>
    <div class="conference-location">
      Washington DC &amp; San Francisco, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.tedmed.com/">TEDMED</a>
    </div>
    <div class="conference-description">
      TEDMED is a global community of leading doers and thinkers from every walk of life. Our goal
      is to seed the innovations in health and medicine of today, making the breakthroughs of
      tomorrow possible. TEDMED curates a unique and provocative program featuring brilliant short
      talks and stunning artistic performances that reframe the way we think and inspire critical
      new possibilities for the future of health and medicine.
    </div>
    <div class="conference-cost">
      Delegate Registration - $4,950
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>washington DC</span>
      <span>san francisco</span>
      <span>CA bay area</span>
      <span>california</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      September 15, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.capconcorp.com/meeting/2014/Consumer-Health-IT-Summit/default.asp">Consumer Health IT Summit 2014</a>
    </div>
    <div class="conference-location">
      Washington DC
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.healthit.gov/newsroom/about-onc">The Office of the National Coordinator for Health Information Technology (ONC)</a>
    </div>
    <div class="conference-description">
      The Office of the National Coordinator for Health IT (ONC) invites you to join us in D.C.
      on September 15th for the 4th Annual Consumer Health IT Summit. This exciting day-long
      event highlights public and private sector efforts to advance patient engagement by
      empowering people with their digital health data and technology.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>government</span>
      <span>washington DC</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      September 21-24, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.health2con.com/events/conferences/health-2-0-fall-conference-2014/">Health 2.0 2014</a>
    </div>
    <div class="conference-location">
      Santa Clara, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.health2con.com/">Health 2.0</a>
    </div>
    <div class="conference-description">
      Bringing together the best and brightest speakers, newest product demos, and
      top networking opportunities for the most unique event in health care technology.
      With over 80 speakers, 30 engaging panels, workshops, thought-provoking discussions,
      and 150 LIVE product demos, the most innovative health tech breakthroughs are
      showcased on the Health 2.0 stage.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>CA bay area</span>
      <span>california</span>
    </div>
  </div>

  <!-- ******************************* OCTOBER ******************************* -->

  <!-- ******************************* NOVEMBER ******************************* -->

  <div class="month-divider">November</div>

  <div class="conference">
    <div class="conference-date">
      November 17-18, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.digitalhealthconference.com/">NYeC Digital Health Conference 2014</a>
    </div>
    <div class="conference-location">
      NYC, NY
    </div>
    <div class="conference-host">
      Presented by: <a href="http://nyehealth.org/">The New York eHealth Collaborative</a>
    </div>
    <div class="conference-description">
      The New York eHealth Collaborative’s fourth annual Digital Health Conference will bring together
      850 senior-level healthcare professionals to learn about cutting-edge innovations and foster
      dynamic conversation addressing how healthcare is being redefined through technology.
    </div>
    <div class="conference-cost">
      Early Bird Registration - $750 - Ends 9/19/2014<br>
      Standard Registration - $900
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>NYC</span>
      <span>new york</span>
    </div>
  </div>

  <!-- ******************************* DECEMBER ******************************* -->

  <!-- <div class="month-divider">December</div> -->

</div>
