<div class="conferences">

  <!-- TEMPLATE:
  <div class="conference">
    <div class="conference-date">
      DATE
    </div>
    <div class="conference-name">
      <a href="LINK">NAME</a>
    </div>
    <div class="conference-location">
      LOCATION
    </div>
    <div class="conference-host">
      Presented by: <a href="LINK">HOST</a>
    </div>
    <div class="conference-description">
      DESCRIPTION
    </div>
    <div class="conference-cost">
      COST INFORMATION
    </div>
    <div class="tags">
      <span>TAG1</span>
      <span>TAG2</span>
    </div>
  </div>
  -->

  <!-- ******************************* JANUARY ******************************* -->

  <div class="month-divider">January</div>

  <div class="conference">
    <div class="conference-date">
      January 7-8, 2015
    </div>
    <div class="conference-name">
      <a href="http://digitalhealthsummit.com/">Digital Health Summit 2015</a>
    </div>
    <div class="conference-location">
      Las Vegas, NV
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.cesweb.org/">International CES</a>
    </div>
    <div class="conference-description">
      The latest, cutting-edge innovations in digital health and wellness. We merge one of
      the world’s largest tradeshow floors with a two-day summit assembling some of the most
      influential, high-profile and informative speakers in digital health and wellness,
      consumer electronics, media and a myriad of other leaders helping consumers, patients
      and care providers create better solutions, outcomes and lower healthcare costs worldwide.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>las vegas</span>
      <span>nevada</span>
    </div>
  </div>


  <!-- ******************************* FEBRUARY ******************************* -->

  <div class="month-divider">February</div>

  <div class="conference">
    <div class="conference-date">
      February 10-11, 2015
    </div>
    <div class="conference-name">
      <a href="http://ihealthtran.com/miami/miamiagenda">Health IT Summit 2015</a>
    </div>
    <div class="conference-location">
      Miami, FL
    </div>
    <div class="conference-host">
      Presented by: <a href="http://ihealthtran.com/">iHT^2: Institute for Health Technology Transformation</a>
    </div>
    <div class="conference-description">
      Each year, the Institute hosts a series of events &amp; programs which promote
      improvements in the quality, safety, and efficiency of health care through information
      technology and facilitating knowledge exchange.
    </div>
    <div class="conference-cost">
      Government, Provider &amp; Education Registration: $995<br>
      Vendors &amp; Consultants Full Conference Registration: $1,995
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>miami</span>
      <span>florida</span>
    </div>
  </div>

  <!-- ******************************* MARCH ******************************* -->

  <!-- <div class="month-divider">March</div> -->

  <!-- ******************************* APRIL ******************************* -->

  <div class="month-divider">April</div>

  <div class="conference">
    <div class="conference-date">
      April 1-2, 2015
    </div>
    <div class="conference-name">
      <a href="http://www.hxrefactored.com/">HxRefactored 2015</a>
    </div>
    <div class="conference-location">
      Boston, MA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.health2con.com/">Health 2.0</a>
    </div>
    <div class="conference-description">
      THE PREMIER EVENT FOR DESIGNERS &amp; DEVELOPERS IN HEALTH Now in its fifth year, our
      conference started with a simple idea: What would happen if we could leverage design
      and technology to transform the health experience? Big things, that's what. Join
      leaders and innovators, doctors and patients, health insurers and providers, and more
      on April 1-2 at HxRefactored in Boston, Massachusetts.Better health experiences begin
      here, join the movement.
    </div>
    <div class="conference-cost">
      Early Bird Registration - $899 - Ends 2/16/2015<br>
      Standard Registration - $999 - Ends 3/16/2015<br>
      Late Registration - $1,299 - Until 4/1/2015<br>
      Discounts for startups, students and independent design and developer professionals.
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>design</span>
      <span>boston</span>
      <span>massachusetts</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      April 12-16, 2015
    </div>
    <div class="conference-name">
      <a href="http://www.himssconference.org/">HIMSS Annual Conference &amp; Exhibition 2015</a>
    </div>
    <div class="conference-location">
      Chicago, IL
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.himss.org/">Healthcare Information and Management Systems Society (HIMSS)</a>
    </div>
    <div class="conference-description">
      The HIMSS Annual Conference &amp; Exhibition brings together 38,000+ healthcare IT
      professionals, clinicians, executives and vendors from around the world. Exceptional
      education, world-class speakers, cutting-edge health IT products and powerful networking
      are hallmarks of this industry-leading conference.
    </div>
    <div class="conference-cost">
      Early Bird Registration - $995 - Ends 1/26/2015<br>
      Advance Registration - $1,095 - Ends 3/16/2015<br>
      Standard Registration - $1,245
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>chicago</span>
      <span>illinois</span>
    </div>
  </div>

  <!-- ******************************* MAY ******************************* -->

  <div class="month-divider">May</div>

  <div class="conference">
    <div class="conference-date">
      May 4-5, 2015
    </div>
    <div class="conference-name">
      <a href="http://www.medicalinformaticsworld.com/">Medical Informatics World Conference 2015</a>
    </div>
    <div class="conference-location">
      Boston, MA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.chicorporate.com/">Cambridge Healthtech Institute and Clinical Informatics News</a>
    </div>
    <div class="conference-description">
      Held each year in Boston, Medical Informatics World connects more than 400 healthcare,
      biomedical science, health informatics, and IT leaders to navigate emerging trends and
      opportunities in the evolving industry.
    </div>
    <div class="conference-cost">
      Early Registration - $1,649(C) / $849(A) - Ends 2/6/2015<br>
      Advance Registration - $1,799(C) / $899(A) - Ends 3/20/2015<br>
      Standard Registration - $1,999(C) / $1,029(A)<br>
      C = Comercial, A = Academic, Government, Hospital &amp; Health Systems, Health Plans
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>health informatics</span>
      <span>boston</span>
      <span>massachusetts</span>
    </div>
  </div>

  <!-- ******************************* JUNE ******************************* -->

  <div class="month-divider">June</div>

  <div class="conference">
    <div class="conference-date">
      June 17-18, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.govhealthitconference.com/">Government Health IT Conference &amp; Exhibition 2014</a>
    </div>
    <div class="conference-location">
      Washington DC
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.himss.org/">Healthcare Information and Management Systems Society (HIMSS)</a>
    </div>
    <div class="conference-description">
      As budgets tighten, workforces shrink, ICD-10 looms, more consumers enter the healthcare
      system and you still struggle with meaningful use — challenges remain and change is constant.
      Join us for the Government Health IT Conference &amp; Exhibition. Find the knowledge and
      network that empowers you to implement solutions that reduce costs while still delivering
      quality patient care.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>government</span>
      <span>washington DC</span>
    </div>
  </div>

  <!-- ******************************* JULY ******************************* -->

  <!-- <div class="month-divider">July</div> -->

  <!-- ******************************* AUGUST ******************************* -->

  <div class="month-divider">August</div>

  <div class="conference">
    <div class="conference-date">
      August 25-28, 2015
    </div>
    <div class="conference-name">
      <a href="http://uxweek.com/">UX Week 2015</a>
    </div>
    <div class="conference-location">
      San Francisco, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.adaptivepath.com/">Adaptive Path</a>
    </div>
    <div class="conference-description">
      Design professionals from all over the world gather for four days of community,
      inspiration and skills building. Now in its 12th year, UX Week delivers new tools
      you can put to use immediately.
    </div>
    <div class="conference-cost">
      Early Bird Registration (Round 2) - $1,995 - Ends 1/31/2015<br>
      Standard Registration - $2,795
    </div>
    <div class="tags">
      <span>design</span>
      <span>user experience</span>
      <span>san francisco</span>
      <span>california</span>
    </div>
  </div>

  <!-- ******************************* SEPTEMBER ******************************* -->

  <div class="month-divider">September</div>

  <div class="conference">
    <div class="conference-date">
      September 21-24, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.health2con.com/events/conferences/health-2-0-fall-conference-2014/">Health 2.0 2014</a>
    </div>
    <div class="conference-location">
      Santa Clara, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.health2con.com/">Health 2.0</a>
    </div>
    <div class="conference-description">
      Bringing together the best and brightest speakers, newest product demos, and
      top networking opportunities for the most unique event in health care technology.
      With over 80 speakers, 30 engaging panels, workshops, thought-provoking discussions,
      and 150 LIVE product demos, the most innovative health tech breakthroughs are
      showcased on the Health 2.0 stage.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>santa clara</span>
      <span>california</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      September 25-27, 2015
    </div>
    <div class="conference-name">
      <a href="http://medicinex.stanford.edu/">Stanford Medicine X 2015</a>
    </div>
    <div class="conference-location">
      Stanford, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.stanford.edu/">Stanford University</a>
    </div>
    <div class="conference-description">
      Medicine X is an academic conference and program designed for everyone. We aim to
      bring all healthcare stakeholders together–patients, providers, technologists, and
      researchers–to innovate healthcare through the thoughtful use of emerging technologies.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>stanford</span>
      <span>california</span>
    </div>
  </div>

  <!-- ******************************* OCTOBER ******************************* -->

  <!-- <div class="month-divider">October</div> -->

  <!-- ******************************* NOVEMBER ******************************* -->

  <div class="month-divider">November</div>

  <div class="conference">
    <div class="conference-date">
      November 17-18, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.digitalhealthconference.com/">NYeC Digital Health Conference 2014</a>
    </div>
    <div class="conference-location">
      NYC, NY
    </div>
    <div class="conference-host">
      Presented by: <a href="http://nyehealth.org/">The New York eHealth Collaborative</a>
    </div>
    <div class="conference-description">
      The New York eHealth Collaborative’s fourth annual Digital Health Conference will bring together
      850 senior-level healthcare professionals to learn about cutting-edge innovations and foster
      dynamic conversation addressing how healthcare is being redefined through technology.
    </div>
    <div class="conference-cost">
      Early Bird Registration - $750 - Ends 9/19/2014<br>
      Standard Registration - $900
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>new york city</span>
      <span>new york</span>
    </div>
  </div>

  <!-- ******************************* DECEMBER ******************************* -->

  <!-- <div class="month-divider">December</div> -->

</div>
