{% assign tags_content = '' %}
{% if include.conference.tags.size > 0 %}
  {% for conference_tag in include.conference.tags %}
    {% assign tag = null %}
    {% for data_tag in site.data.tags %}
      {% if data_tag.name == conference_tag %}
        {% assign tag = data_tag %}
      {% endif %}
    {% endfor %}

    {% if tag %}
      {% capture tags_content_temp %}
        {{ tags_content }} <span><a href="{{site.github.url}}/conferences/tag/{{ tag.slug }}/">{{ tag.name }}</a></span>
      {% endcapture %}
      {% assign tags_content = tags_content_temp %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="conference" id="{{include.conference.title | slugify}}">
  <div class="conference-date">
    {{include.conference.start_date | date: "%B %d, %Y"}}
    {% if include.conference.end_date and include.conference.start_date != include.conference.end_date %}
      - {{include.conference.end_date | date: "%B %d, %Y"}}
    {% endif %}
  </div>
  <div class="conference-name">
    <a href="#{{include.conference.title | slugify}}" style="float: left;padding-right: 4px;margin-left: -20px;line-height: 1;">
      <svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg>
    </a>
    {% if include.conference.conference_url %}
      <a href="{{include.conference.conference_url}}" target="_blank">
    {% endif %}
    {{include.conference.title | escape}}
    {% if include.conference.url %}
      </a>
    {% endif %}
  </div>
  <div class="conference-location">
    {{include.conference.location}}
  </div>
  {% if include.conference.host %}
    <div class="conference-host">
      Presented by:
      {% if include.conference.host_url %}
        <a href="{{include.conference.host_url}}" target="_blank">
      {% endif %}
      {{include.conference.host | escape}}
      {% if include.conference.host_url %}
        </a>
      {% endif %}
    </div>
  {% endif %}
  <div class="conference-description">
    {{include.conference.content}}
  </div>
  {% if include.conference.cost_information %}
    <div class="conference-cost">
      {{include.conference.cost_information | join: '<br>'}}
    </div>
  {% endif %}
  {% if include.conference.tags %}
    <div class="tags">
      {{ tags_content }}
    </div>
  {% endif %}
</div>
