<div class="conferences">

  <!-- TEMPLATE:
  <div class="conference">
    <div class="conference-date">
      DATE
    </div>
    <div class="conference-name">
      <a href="LINK">NAME</a>
    </div>
    <div class="conference-location">
      LOCATION
    </div>
    <div class="conference-host">
      Presented by: <a href="LINK">HOST</a>
    </div>
    <div class="conference-description">
      DESCRIPTION
    </div>
    <div class="conference-cost">
      COST INFORMATION
    </div>
    <div class="tags">
      <span>TAG1</span>
      <span>TAG2</span>
    </div>
  </div> -->

  <div class="conference">
    <div class="conference-date">
      April 1-2, 2015
    </div>
    <div class="conference-name">
      <a href="http://www.hxrefactored.com/">HxRefactored</a>
    </div>
    <div class="conference-location">
      Boston, MA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.health2con.com/">Health 2.0</a>
    </div>
    <div class="conference-description">
      THE PREMIER EVENT FOR DESIGNERS &amp; DEVELOPERS IN HEALTH Now in its fifth year, our
      conference started with a simple idea: What would happen if we could leverage design
      and technology to transform the health experience? Big things, that's what. Join
      leaders and innovators, doctors and patients, health insurers and providers, and more
      on April 1-2 at HxRefactored in Boston, Massachusetts.Better health experiences begin
      here, join the movement.
    </div>
    <div class="conference-cost">
      Early Bird Registration - $899 - Ends 2/16/2015<br>
      Standard Registration - $999 - Ends 3/16/2015<br>
      Late Registration - $1,299 - Until 4/1/2015<br>
      Discounts for startups, students and independent design and developer professionals.
    </div>
    <div class="tags">
      <span>health</span>
      <span>design</span>
      <span>boston</span>
      <span>massachusetts</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      August 25-28, 2015
    </div>
    <div class="conference-name">
      <a href="http://uxweek.com/">UX Week</a>
    </div>
    <div class="conference-location">
      San Francisco, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.adaptivepath.com/">Adaptive Path</a>
    </div>
    <div class="conference-description">
      Design professionals from all over the world gather for four days of community,
      inspiration and skills building. Now in its 12th year, UX Week delivers new tools
      you can put to use immediately.
    </div>
    <div class="conference-cost">
      Early Bird Registration (Round 2)- $1,995 - Ends 1/31/2015<br>
      Standard Registration - $2,795 - Ends 3/16/2015<br>
    </div>
    <div class="tags">
      <span>design</span>
      <span>san francisco</span>
      <span>california</span>
    </div>
  </div>

</div>




<!-- <div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Name</th>
        <th>Host</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
        <th>Tags</th>
      </tr>
    </thead>

    <thbody>
      <tr>
        <th><a href="http://www.hxrefactored.com/">HxRefactored</a></th>
        <td>Healthcare Experience Refactored</td>
        <td>April 1-2, 2015</td>
        <td>Boston, MA</td>
        <td>THE PREMIER EVENT FOR DESIGNERS &amp; DEVELOPERS IN HEALTH. Now in its fifth year, our conference started with a simple idea: What would happen if we could leverage design and technology to transform the health experience? Big things, that's what. Join leaders and innovators, doctors and patients, health insurers and providers, and more. Better health experiences begin here, join the movement.</td>
        <td class="tags">
          <span>health</span>
          <span>design</span>
          <span>boston</span>
          <span>massachusetts</span>
        </td>
      </tr>
    </thbody>
  </table>
</div> -->