<div class="conferences">

  <!-- TEMPLATE:
  <div class="conference">
    <div class="conference-date">
      DATE
    </div>
    <div class="conference-name">
      <a href="LINK">NAME</a>
    </div>
    <div class="conference-location">
      LOCATION
    </div>
    <div class="conference-host">
      Presented by: <a href="LINK">HOST</a>
    </div>
    <div class="conference-description">
      DESCRIPTION
    </div>
    <div class="conference-cost">
      COST INFORMATION
    </div>
    <div class="tags">
      <span>TAG1</span>
      <span>TAG2</span>
    </div>
  </div>
  -->

  <!-- ******************************* JANUARY ******************************* -->

  <div class="month-divider">January</div>

  <div class="conference">
    <div class="conference-date">
      January 7-8, 2015
    </div>
    <div class="conference-name">
      <a href="http://digitalhealthsummit.com/">Digital Health Summit 2015</a>
    </div>
    <div class="conference-location">
      Las Vegas, NV
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.cesweb.org/">International CES</a>
    </div>
    <div class="conference-description">
      The latest, cutting-edge innovations in digital health and wellness. We merge one of
      the world’s largest tradeshow floors with a two-day summit assembling some of the most
      influential, high-profile and informative speakers in digital health and wellness,
      consumer electronics, media and a myriad of other leaders helping consumers, patients
      and care providers create better solutions, outcomes and lower healthcare costs worldwide.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>las vegas</span>
      <span>nevada</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      January 22-24, 2015
    </div>
    <div class="conference-name">
      <a href="http://conveyux.com/">ConveyUX 2015</a>
    </div>
    <div class="conference-location">
      Seattle, WA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://blinkux.com/">Blink Interactive</a>
    </div>
    <div class="conference-description">
      Convey UX is the essential conference for UX practitioners to share and learn. We carefully
      select the sharpest speakers and hottest topics. You'll come away empowered with new techniques,
      knowledge, and inspiration to immediately apply to your projects.
    </div>
    <div class="conference-cost">
      Conference Party - Thu - $20<br>
      Main Event - Thu/Fri - $1,195<br>
      Workshops - Saturday - $395<br>
      Full Conference - $1,395
    </div>
    <div class="tags">
      <span>design</span>
      <span>user experience</span>
      <span>seattle</span>
      <span>washington</span>
    </div>
  </div>

 <div class="conference">
    <div class="conference-date">
      January 30, 2015
    </div>
    <div class="conference-name">
      <a href="http://prodesignconf.com/">Pro/Design 2015</a>
    </div>
    <div class="conference-location">
      NYC, NY
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.nasdaq.com/">Nasdaq</a>
    </div>
    <div class="conference-description">
      A free, one-day conference about building design-driven organizations. Good design is more than good
      business. It's essential business. Yet many organizations are hesitant, unprepared, or unclear about
      how to empower design as a competitive differentiator. How do individuals, teams, and companies
      transform themselves to become design-driven? At Pro/Design, we'll explore--from a variety of perspectives--
      paths to leading with design.
    </div>
    <div class="conference-cost">
      Free
    </div>
    <div class="tags">
      <span>design</span>
      <span>free</span>
      <span>NYC</span>
      <span>new york</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      January 30-February 1, 2015
    </div>
    <div class="conference-name">
      <a href="http://shesgeeky.org/">She's Geeky unConference 2015</a>
    </div>
    <div class="conference-location">
      San Jose, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="https://www.paypal.com/home">PayPal</a>
    </div>
    <div class="conference-description">
      The unConference for women geeks of all kinds to share, connect, network, learn, inspire and have lots
      of fun. We invite women working in Science, Technology, Engineering and Math (STEM) to gather and connect.
      Serving Geeky Women since 2007. While the unconference focuses on tech topics, this may be an opportunity
      to also impart UX knowledge on others.
    </div>
    <div class="conference-cost">
      Regular 3-day - $240<br>
      Regular 2-day Fri/Sat - $180<br>
      Regular 2-day Fri/Sun or Sat/Sun - $150<br>
      Regular 1-day Friday or Saturday - $90<br>
      Regular 1-day Sunday - $60<br>
      Student discount: 50% off
    </div>
    <div class="tags">
      <span>design</span>
      <span>women</span>
      <span>CA bay area</span>
      <span>california</span>
    </div>
  </div>

  <!-- ******************************* FEBRUARY ******************************* -->

  <div class="month-divider">February</div>

  <div class="conference">
    <div class="conference-date">
      February 3-5, 2015
    </div>
    <div class="conference-name">
      <a href="http://mobilewebdevconference.com/">Mobile+Web DevCon 2015</a>
    </div>
    <div class="conference-location">
      San Francisco, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://gsmiweb.com/">GSMI Conferences &amp; Training</a>
    </div>
    <div class="conference-description">
      DevCon is at the intersection of mobile and web - which means you can send your team to
      attend different technical talks on iOS, Android, web, and design. Expand your knowledge
      within your existing skill set, or take advantage of the opportunity to learn a new platform.
    </div>
    <div class="conference-cost">
      Summit Only - $1,995(C) / $1,795(N)<br>
      Silver Pass: Summit + 1 Workshop - $2,490(C) / $2,290(N)<br>
      Gold Pass: Summit + 2 Workshops - $2,885(C) / $2,685(N)<br>
      1 Workshop - $495<br>
      2 Workshops - $890<br>
      C = Commercial, N = Non-Profit<br>
      **All FindUX readers can receive a 5% discount on their registration with the discount code TDFINDUX5.
    </div>
    <div class="tags">
      <span>design</span>
      <span>mobile</span>
      <span>san francisco</span>
      <span>CA bay area</span>
      <span>california</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      February 4-5, 2015
    </div>
    <div class="conference-name">
      <a href="http://digitalsummitphoenix.com/">Digital Summit Phoenix 2015</a>
    </div>
    <div class="conference-location">
      Scottsdale, AZ
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.techmediaco.com/">TechMedia</a>
    </div>
    <div class="conference-description">
      The region's largest digital marketing event - dozens of speakers from leading brands discussing
      the latest trends and best practices. A sampling of topics include Content Strategy,
      Usability/Design, Mobile Marketing, Customer Engagement, Social Media, Email, Search, Marketing
      Automation, Analytics, Video and much more! Speakers include brands such as Google, LinkedIn,
      Salesforce, Bing, Citi, The Washington Post and many more.
    </div>
    <div class="conference-cost">
      Early Bird Conference Pass - $245 - Ends 1/23/2015<br>
      Early Bird All Access Pass - $345 - Ends 1/23/2015<br>
      Early Bird Platinum Pass - $445 - Ends 1/23/2015<br>
      Regular Conference Pass - $445<br>
      Regular All Access Pass - $545<br>
      Regular Platinum Pass - $645
    </div>
    <div class="tags">
      <span>design</span>
      <span>arizona</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      February 10-11, 2015
    </div>
    <div class="conference-name">
      <a href="http://ihealthtran.com/miami/miamiagenda">Health IT Summit 2015</a>
    </div>
    <div class="conference-location">
      Miami, FL
    </div>
    <div class="conference-host">
      Presented by: <a href="http://ihealthtran.com/">iHT^2: Institute for Health Technology Transformation</a>
    </div>
    <div class="conference-description">
      Each year, the Institute hosts a series of events &amp; programs which promote
      improvements in the quality, safety, and efficiency of health care through information
      technology and facilitating knowledge exchange.
    </div>
    <div class="conference-cost">
      Government, Provider &amp; Education Registration: $995<br>
      Vendors &amp; Consultants Full Conference Registration: $1,995
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>miami</span>
      <span>florida</span>
    </div>
  </div>

  <!-- ******************************* MARCH ******************************* -->

  <!-- <div class="month-divider">March</div> -->

  <!-- ******************************* APRIL ******************************* -->

  <div class="month-divider">April</div>

  <div class="conference">
    <div class="conference-date">
      April 1-2, 2015
    </div>
    <div class="conference-name">
      <a href="http://www.hxrefactored.com/">HxRefactored 2015</a>
    </div>
    <div class="conference-location">
      Boston, MA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.health2con.com/">Health 2.0</a>
    </div>
    <div class="conference-description">
      THE PREMIER EVENT FOR DESIGNERS &amp; DEVELOPERS IN HEALTH Now in its fifth year, our
      conference started with a simple idea: What would happen if we could leverage design
      and technology to transform the health experience? Big things, that's what. Join
      leaders and innovators, doctors and patients, health insurers and providers, and more
      on April 1-2 at HxRefactored in Boston, Massachusetts.Better health experiences begin
      here, join the movement.
    </div>
    <div class="conference-cost">
      Early Bird Registration - $899 - Ends 2/16/2015<br>
      Standard Registration - $999 - Ends 3/16/2015<br>
      Late Registration - $1,299 - Until 4/1/2015<br>
      Discounts for startups, students and independent design and developer professionals.
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>design</span>
      <span>boston</span>
      <span>massachusetts</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      April 12-16, 2015
    </div>
    <div class="conference-name">
      <a href="http://www.himssconference.org/">HIMSS Annual Conference &amp; Exhibition 2015</a>
    </div>
    <div class="conference-location">
      Chicago, IL
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.himss.org/">Healthcare Information and Management Systems Society (HIMSS)</a>
    </div>
    <div class="conference-description">
      The HIMSS Annual Conference &amp; Exhibition brings together 38,000+ healthcare IT
      professionals, clinicians, executives and vendors from around the world. Exceptional
      education, world-class speakers, cutting-edge health IT products and powerful networking
      are hallmarks of this industry-leading conference.
    </div>
    <div class="conference-cost">
      Early Bird Registration - $995 - Ends 1/26/2015<br>
      Advance Registration - $1,095 - Ends 3/16/2015<br>
      Standard Registration - $1,245
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>chicago</span>
      <span>illinois</span>
    </div>
  </div>

  <!-- ******************************* MAY ******************************* -->

  <div class="month-divider">May</div>

  <div class="conference">
    <div class="conference-date">
      May 4-5, 2015
    </div>
    <div class="conference-name">
      <a href="http://www.medicalinformaticsworld.com/">Medical Informatics World Conference 2015</a>
    </div>
    <div class="conference-location">
      Boston, MA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.chicorporate.com/">Cambridge Healthtech Institute and Clinical Informatics News</a>
    </div>
    <div class="conference-description">
      Held each year in Boston, Medical Informatics World connects more than 400 healthcare,
      biomedical science, health informatics, and IT leaders to navigate emerging trends and
      opportunities in the evolving industry.
    </div>
    <div class="conference-cost">
      Early Registration - $1,649(C) / $849(A) - Ends 2/6/2015<br>
      Advance Registration - $1,799(C) / $899(A) - Ends 3/20/2015<br>
      Standard Registration - $1,999(C) / $1,029(A)<br>
      C = Comercial, A = Academic, Government, Hospital &amp; Health Systems, Health Plans
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>health informatics</span>
      <span>boston</span>
      <span>massachusetts</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      May 11-13, 2015
    </div>
    <div class="conference-name">
      <a href="http://aneventapart.com/event/seattle-2015">An Event Apart Boston 2015</a>
    </div>
    <div class="conference-location">
      Boston, MA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://aneventapart.com">An Event Apart</a>
    </div>
    <div class="conference-description">
      The design conference for people who make websites. An Event Apart Boston is an intensely educational
      learning session for passionate practitioners of standards-based web design. If you care about code as
      well as content, usability as well as design, An Event Apart is the conference you’ve been waiting for.
    </div>
    <div class="conference-cost">
      Conference Pass - $995 (until 3/16/2015) / $1,095 (until 5/10/2015) / $1,195 (at-the-door)<br>
      A Day Apart Pass - $499 (until 3/16/2015) / $549 (until 5/12/2015) / $649 (at-the-door)<br>
      Conference + A Day Apart Pass - $1,290 (until 3/16/2015) / $1,390 (until 5/10/2015) / $1,490 (at-the-door)
    </div>
    <div class="tags">
      <span>design</span>
      <span>boston</span>
      <span>massachusetts</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      May 31-June 3, 2015
    </div>
    <div class="conference-name">
      <a href="http://healthdatapalooza.org/">Health Datapalooza 2015</a>
    </div>
    <div class="conference-location">
      Washington DC
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.healthdataconsortium.org/">Health Data Consortium</a>
    </div>
    <div class="conference-description">
      Health Datapalooza is a national conference focused on liberating health data, and bringing
      together the companies, startups, academics, government agencies, and individuals with the
      newest and most innovative and effective uses of health data to improve patient outcomes.
    </div>
    <div class="conference-cost">
      Early Bird - $695(G) / $495(N) / $395(G) / $295(S) - Ends 3/31/2015<br>
      Full Price - $895(G) / $595(N) / $495(G) / $295(S) - Ends 5/30/2015<br>
      Day of Event - $995(G) / $695(N) / $595(G) / $295(S)<br>
      G = General, N = Not For Profilt / Academics, G = Government, S = Student (full-time)
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>washington DC</span>
    </div>
  </div>

  <!-- ******************************* JUNE ******************************* -->

  <div class="month-divider">June</div>

  <div class="conference">
    <div class="conference-date">
      June 14-17, 2015
    </div>
    <div class="conference-name">
      <a href="http://2015.giantconf.com/">GIANT Conference 2015</a>
    </div>
    <div class="conference-location">
      Charleston, SC
    </div>
    <div class="conference-host">
      Presented by: <a href="http://2015.giantconf.com/">GIANT LLC</a>
    </div>
    <div class="conference-description">
      GIANT exists because creativity and community go together like a guitar and amp.
      GIANT is an event for people who do rad work. We’ll talk about rad work at a technical level,
      and music and just a generally good time. We’ll have people talking about rad work who you’ve
      heard of, and people you haven’t heard of. That’s because we think inspiration comes from all
      over, and rad work happens in all kinds of professions.
    </div>
    <div class="conference-cost">
      Ridiculously Early Bird - $500 Conference / $400 Workshops<br>
      Super Early Bird - $600 Conference / $400 Workshops<br>
      Early Bird - $700 Conference / $400 Workshops - Ends 2/28/2015<br>
      Regular - $800 Conference / $400 Workshops
    </div>
    <div class="tags">
      <span>design</span>
      <span>south carolina</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      June 17-18, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.govhealthitconference.com/">Government Health IT Conference &amp; Exhibition 2014</a>
    </div>
    <div class="conference-location">
      Washington DC
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.himss.org/">Healthcare Information and Management Systems Society (HIMSS)</a>
    </div>
    <div class="conference-description">
      As budgets tighten, workforces shrink, ICD-10 looms, more consumers enter the healthcare
      system and you still struggle with meaningful use — challenges remain and change is constant.
      Join us for the Government Health IT Conference &amp; Exhibition. Find the knowledge and
      network that empowers you to implement solutions that reduce costs while still delivering
      quality patient care.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>government</span>
      <span>washington DC</span>
    </div>
  </div>

  <!-- ******************************* JULY ******************************* -->

  <!-- <div class="month-divider">July</div> -->

  <!-- ******************************* AUGUST ******************************* -->

  <div class="month-divider">August</div>

  <div class="conference">
    <div class="conference-date">
      August 25-28, 2015
    </div>
    <div class="conference-name">
      <a href="http://uxweek.com/">UX Week 2015</a>
    </div>
    <div class="conference-location">
      San Francisco, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.adaptivepath.com/">Adaptive Path</a>
    </div>
    <div class="conference-description">
      Design professionals from all over the world gather for four days of community,
      inspiration and skills building. Now in its 12th year, UX Week delivers new tools
      you can put to use immediately.
    </div>
    <div class="conference-cost">
      Early Bird Registration (Round 2) - $1,995 - Ends 1/31/2015<br>
      Standard Registration - $2,795
    </div>
    <div class="tags">
      <span>design</span>
      <span>user experience</span>
      <span>san francisco</span>
      <span>CA bay area</span>
      <span>california</span>
    </div>
  </div>

  <!-- ******************************* SEPTEMBER ******************************* -->

  <div class="month-divider">September</div>

  <div class="conference">
    <div class="conference-date">
      September 10-12, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.tedmed.com/event/abouttheevent">TEDMED 2014</a>
    </div>
    <div class="conference-location">
      Washington DC &amp; San Francisco, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.tedmed.com/">TEDMED</a>
    </div>
    <div class="conference-description">
      TEDMED is a global community of leading doers and thinkers from every walk of life. Our goal
      is to seed the innovations in health and medicine of today, making the breakthroughs of
      tomorrow possible. TEDMED curates a unique and provocative program featuring brilliant short
      talks and stunning artistic performances that reframe the way we think and inspire critical
      new possibilities for the future of health and medicine.
    </div>
    <div class="conference-cost">
      Delegate Registration - $4,950
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>washington DC</span>
      <span>san francisco</span>
      <span>CA bay area</span>
      <span>california</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      September 15, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.capconcorp.com/meeting/2014/Consumer-Health-IT-Summit/default.asp">Consumer Health IT Summit 2014</a>
    </div>
    <div class="conference-location">
      Washington DC
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.healthit.gov/newsroom/about-onc">The Office of the National Coordinator for Health Information Technology (ONC)</a>
    </div>
    <div class="conference-description">
      The Office of the National Coordinator for Health IT (ONC) invites you to join us in D.C.
      on September 15th for the 4th Annual Consumer Health IT Summit. This exciting day-long
      event highlights public and private sector efforts to advance patient engagement by
      empowering people with their digital health data and technology.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>government</span>
      <span>washington DC</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      September 21-24, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.health2con.com/events/conferences/health-2-0-fall-conference-2014/">Health 2.0 2014</a>
    </div>
    <div class="conference-location">
      Santa Clara, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.health2con.com/">Health 2.0</a>
    </div>
    <div class="conference-description">
      Bringing together the best and brightest speakers, newest product demos, and
      top networking opportunities for the most unique event in health care technology.
      With over 80 speakers, 30 engaging panels, workshops, thought-provoking discussions,
      and 150 LIVE product demos, the most innovative health tech breakthroughs are
      showcased on the Health 2.0 stage.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>CA bay area</span>
      <span>california</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      September 25-27, 2015
    </div>
    <div class="conference-name">
      <a href="http://medicinex.stanford.edu/">Stanford Medicine X 2015</a>
    </div>
    <div class="conference-location">
      Stanford, CA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.stanford.edu/">Stanford University</a>
    </div>
    <div class="conference-description">
      Medicine X is an academic conference and program designed for everyone. We aim to
      bring all healthcare stakeholders together–patients, providers, technologists, and
      researchers–to innovate healthcare through the thoughtful use of emerging technologies.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>california</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      September 26-30, 2015
    </div>
    <div class="conference-name">
      <a href="http://www.ahima.org/convention/geninfo">AHIMA Convention &amp; Exhibit 2015</a>
    </div>
    <div class="conference-location">
      New Orleans, LA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.ahima.org/">The American Health Information Management Association (AHIMA)</a>
    </div>
    <div class="conference-description">
      A must-attend event for professionals across all healthcare segments: providers, payers,
      vendors, consultants, and secondary data users. This weeklong event provides comprehensive
      updates, education, and information on current and emerging healthcare industry issues.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>louisiana</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      September 28-30, 2015
    </div>
    <div class="conference-name">
      <a href="http://intelligentinsites.com/build/agenda/">Insites Build 2015</a>
    </div>
    <div class="conference-location">
      Fargo, ND
    </div>
    <div class="conference-host">
      Presented by: <a href="http://intelligentinsites.com/">Intelligent InSites</a>
    </div>
    <div class="conference-description">
      InSites Build is about big ideas, collaboration, and genuine connections. We’ve created
      a think tank of healthcare providers, analysts, consultants and tech innovators for an
      opportunity to really change the way healthcare operates.
    </div>
    <div class="conference-cost">
      Healthcare Organizations - $300<br>
      Non-Healthcare Organizations - $700
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>north dakota</span>
    </div>
  </div>

  <!-- ******************************* OCTOBER ******************************* -->

  <div class="month-divider">October</div>

  <div class="conference">
    <div class="conference-date">
      October 29-30, 2015
    </div>
    <div class="conference-name">
      <a href="http://symposium.connected-health.org/">Connected Health Symposium</a>
    </div>
    <div class="conference-location">
      Boston, MA
    </div>
    <div class="conference-host">
      Presented by: <a href="http://connectedhealth.partners.org/">Partners Healthcare: Center for Connected Health</a>
    </div>
    <div class="conference-description">
      The Connected Health Symposium is an international change-agent conference that promotes
      innovative thinking and the application of personal consumer health technologies to support
      new models of care delivery. With a focus on trends at the intersection of technology and
      new models of health care delivery, the Symposium convenes thought leaders in an effort to
      grow the rapidly-expanding connected health marketplace. Our audience is a high-profile
      gathering of innovators, researchers, C-level executives and policymakers who gather for
      knowledge-sharing across the connected health landscape. Over 100 speakers and more than
      1,000 attendees will come together to define the future of care delivery.
    </div>
    <div class="conference-cost">
      General Attendee - $1095<br>
      Government- $595<br>
      Not for profit- $595<br>
      Health Care Affiliate - $595<br>
      Student - $295
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>boston</span>
      <span>massachusetts</span>
    </div>
  </div>


  <!-- ******************************* NOVEMBER ******************************* -->

  <div class="month-divider">November</div>

  <div class="conference">
    <div class="conference-date">
      November 8-11, 2015
    </div>
    <div class="conference-name">
      <a href="http://www.mhealthsummit.org/">mHealth Summit 2015</a>
    </div>
    <div class="conference-location">
      Washington DC
    </div>
    <div class="conference-host">
      Presented by: <a href="http://www.pchalliance.org/">Personal Connected Health Alliance</a>
    </div>
    <div class="conference-description">
      The mHealth Summit, the largest event of its kind, convenes a diverse international
      delegation to explore the limits of mobile and connected health, including every aspect
      and every audience. Technology, business, research and policy. Mobile, wireless, digital,
      wearable, telehealth, gaming, connected health and consumer engagement.
    </div>
<!--     <div class="conference-cost">
      COST INFORMATION
    </div> -->
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>washington DC</span>
    </div>
  </div>

  <div class="conference">
    <div class="conference-date">
      November 17-18, 2014
    </div>
    <div class="conference-name">
      <a href="http://www.digitalhealthconference.com/">NYeC Digital Health Conference 2014</a>
    </div>
    <div class="conference-location">
      NYC, NY
    </div>
    <div class="conference-host">
      Presented by: <a href="http://nyehealth.org/">The New York eHealth Collaborative</a>
    </div>
    <div class="conference-description">
      The New York eHealth Collaborative’s fourth annual Digital Health Conference will bring together
      850 senior-level healthcare professionals to learn about cutting-edge innovations and foster
      dynamic conversation addressing how healthcare is being redefined through technology.
    </div>
    <div class="conference-cost">
      Early Bird Registration - $750 - Ends 9/19/2014<br>
      Standard Registration - $900
    </div>
    <div class="tags">
      <span>healthcare</span>
      <span>health IT</span>
      <span>NYC</span>
      <span>new york</span>
    </div>
  </div>

  <!-- ******************************* DECEMBER ******************************* -->

  <!-- <div class="month-divider">December</div> -->

</div>
